<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Feed</key>
	<dict>
		<key>Food</key>
		<dict>
			<key>Rice</key>
			<dict>
				<key>Health</key>
				<integer>10</integer>
			</dict>
			<key>Pancake</key>
			<dict>
				<key>Health</key>
				<integer>10</integer>
			</dict>
			<key>Noodle</key>
			<dict>
				<key>Health</key>
				<integer>10</integer>
			</dict>
			<key>Dumpling</key>
			<dict>
				<key>Health</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>Fruit</key>
		<dict/>
		<key>Snack</key>
		<dict/>
		<key>Drink</key>
		<dict/>
	</dict>
</dict>
</plist>
