<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Feed</string>
		<array>
			<string>Food</string>
			<array>
				<string>Rice</string>
				<string>Pancake</string>
				<string>Noodle</string>
				<string>Dumpling</string>
			</array>
		</array>
		<array>
			<string>Snack</string>
			<array>
				<string>Cookie</string>
				<string>Yogurt</string>
				<string>Chocolate</string>
				<string>Candy</string>
			</array>
		</array>
		<array>
			<string>Fruit</string>
			<array>
				<string>Apple</string>
				<string>Banana</string>
				<string>Peal</string>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Drink</string>
			<array>
				<string>Coca</string>
				<string>Pepsi</string>
				<string>7Up</string>
				<string>Sprite</string>
			</array>
		</array>
	</array>
	<array>
		<string>Action</string>
		<array>
			<string>Play</string>
		</array>
		<array>
			<string>Sing</string>
		</array>
		<array>
			<string>Dance</string>
		</array>
		<array>
			<string>Sleep</string>
		</array>
	</array>
	<array>
		<string>Shop</string>
		<array>
			<string>Food</string>
		</array>
		<array>
			<string>Snack</string>
		</array>
		<array>
			<string>Fruit</string>
		</array>
		<array>
			<string>Drink</string>
		</array>
		<array>
			<string>Ball</string>
		</array>
		<array>
			<string>Shoes</string>
		</array>
		<array>
			<string>CDs</string>
		</array>
	</array>
	<array>
		<string>Friends</string>
		<array>
			<string>Friend01</string>
		</array>
		<array>
			<string>Friend02</string>
		</array>
		<array>
			<string>Friend03</string>
		</array>
		<array>
			<string>Add Friend</string>
		</array>
	</array>
</array>
</plist>
