<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Feed</key>
	<dict>
		<key>Food</key>
		<dict>
			<key>Rice</key>
			<dict>
				<key>Health</key>
				<integer>10</integer>
			</dict>
			<key>Pancake</key>
			<dict>
				<key>Health</key>
				<integer>10</integer>
			</dict>
			<key>Noodle</key>
			<dict>
				<key>Health</key>
				<integer>10</integer>
			</dict>
			<key>Dumpling</key>
			<dict>
				<key>Health</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>Fruit</key>
		<dict>
			<key>Apple</key>
			<dict>
				<key>Health</key>
				<integer>5</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
			<key>Banana</key>
			<dict>
				<key>Health</key>
				<integer>5</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
			<key>Pear</key>
			<dict>
				<key>Health</key>
				<integer>5</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
			<key>Orange</key>
			<dict>
				<key>Health</key>
				<integer>5</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>Snack</key>
		<dict>
			<key>Cookie</key>
			<dict>
				<key>Health</key>
				<integer>5</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
			<key>Yogurt</key>
			<dict>
				<key>Health</key>
				<integer>5</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
			<key>Chocolate</key>
			<dict>
				<key>Health</key>
				<integer>5</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
			<key>Candy</key>
			<dict>
				<key>Health</key>
				<integer>5</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>Drink</key>
		<dict>
			<key>Coca</key>
			<dict>
				<key>Health</key>
				<integer>0</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
			<key>Pepsi</key>
			<dict>
				<key>Health</key>
				<integer>0</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
			<key>7Up</key>
			<dict>
				<key>Health</key>
				<integer>0</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
			<key>Sprite</key>
			<dict>
				<key>Health</key>
				<integer>0</integer>
				<key>Mood</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<key>Action</key>
	<dict>
		<key>Play</key>
		<dict/>
		<key>Sing</key>
		<dict/>
		<key>Dance</key>
		<dict/>
		<key>Sleep</key>
		<dict/>
	</dict>
	<key>Shop</key>
	<dict>
		<key>Food</key>
		<dict/>
		<key>Snack</key>
		<dict/>
		<key>Fruit</key>
		<dict/>
		<key>Drink</key>
		<dict/>
		<key>Ball</key>
		<dict/>
		<key>Shoes</key>
		<dict/>
		<key>Dress</key>
		<dict/>
	</dict>
	<key>Friends</key>
	<dict>
		<key>Friend01</key>
		<dict/>
		<key>Friend02</key>
		<dict/>
		<key>Friend03</key>
		<dict/>
		<key>Friend04</key>
		<dict/>
		<key>Add Friend</key>
		<dict/>
	</dict>
</dict>
</plist>
